.qtyper {
  > span {
    white-space: pre-wrap;
  }
  .blinker {
    animation: qt-blink 0.75s infinite;
    font-weight:bold;
  }
}

@keyframes qt-blink {
  0% {opacity: 0}
  50% {opacity : 1}
  100% {opacity : 0}
}
